@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Inter:wght@300&display=swap');

:root {
  --hackrack_blue: #3779b6;
  --hackrack_black: #363636;
  --hackrack_white: #ffffff;
}

.hero-section {
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.hero-section__heading {
  letter-spacing: -2px;
  max-width: 80%;
  line-height: 2.7rem;
  font-size: 2.2rem;
  font-weight: 700;

  background-image: linear-gradient(
    249deg,
    #3783f6 0.1%,
    #02cbde 41.42%,
    #5f0fcd 101.92%
  );
  background-clip: text;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.hero-section span,
.event span {
  /* font-family: Eldwin, Eldwin1; */
  font-weight: 200;
  font-style: italic;
  color: black;
  -webkit-text-fill-color: black;
  -moz-text-fill-color: black;
}

.hero-section u:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: red;
}
.hero-section u {
  font-style: italic;
}

.hero-section__paragraph {
  font-size: 1rem;
  font-weight: 400;
  padding: 2.8rem 2rem;
}

.button {
  display: grid;
  margin: 0 auto;
}

.btn {
  max-width: 8rem;
  margin: auto;
  background-color: var(--hackrack_black);
  font-size: 0.9rem;
  color: white;
  border-radius: 100px;
  padding: 8px 24px;
  font-weight: 400;
  cursor: pointer;
  border: none;
}

.hero-section .btn:hover,
.hero-section .btn:focus {
  background-image: linear-gradient(
    300deg,
    #3783f6 0.1%,
    #02cbde 41.42%,
    #5f0fcd 101.92%
  );
  box-shadow: 0px 15px 40px 0px #3783f68c;
  transform: translateY(-0.4em);
  transition: all 0.2s ease-in-out;
}

.hero-section__svg {
  overflow-y: hidden;
  padding-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-section__svg img {
  object-fit: cover;
  width: 30rem;
  height: 30rem;
}

@media screen and (min-width: 426px) {
  .hero-section__heading {
    max-width: 90%;
    letter-spacing: -3px;
    line-height: 4rem;
    font-size: 3.5rem;
  }
  .hero-section__paragraph {
    font-weight: 3rem;
  }
  .btn {
    font-size: 1.15rem;
    padding: 16px 32px;
  }
  .hero-section__svg img {
    padding-top: 6rem;
    padding-bottom: 6rem;
    width: auto;
    height: auto;
  }
}

@media screen and (min-width: 768px) {

  .hero-section__heading {
    max-width: 45rem;
    line-height: 5rem;
    font-size: 4rem;
    font-weight: 800;
  }
  .hero-section__paragraph {
    max-width: 50%;
    font-size: 1.2rem;
  }
  .hero-section__svg img {
    padding-top: 8rem;
    width: auto;
    height: auto;
  }
}
