@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Inter:wght@300&display=swap');

:root {
  --hackrack_blue: #3779b6;
  --hackrack_black: #363636;
  --hackrack_white: #ffffff;
  --font-para-width: clamp(28rem, 80vw, 42rem);
}

.hero-section {
  margin-top: 18vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.hero-section__heading {
  letter-spacing: -2px;
  max-width: 80%;
  line-height: 3rem;
  font-size: 2.2rem;
  font-weight: 700;

  background-image: linear-gradient(
    249deg,
    #3783f6 0.1%,
    #02cbde 41.42%,
    #5f0fcd 101.92%
  );
  background-clip: text;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.hero-section span,
.event span {
  /* font-family: Eldwin, Eldwin1; */
  font-weight: 200;
  font-style: italic;
  color: black;
  -webkit-text-fill-color: black;
  -moz-text-fill-color: black;
}

.hero-section u:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: red;
}
.hero-section u {
  font-style: italic;
}

.hero-section__paragraph {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  padding: 2.8rem 2rem;
}

.btn {
  background: #f8f8f8;
  border-radius: 71px;
  width: fit-content;
  padding: 10px 25px;
  font-weight: 300;
}

.hero-section .btn:hover,
.hero-section .btn:focus {
  transform: translateY(-0.4em);
  transition: all 0.2s ease-in-out;
}

.hero-section__svg {
  overflow-y: hidden;
  padding-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-section__svg img {
  object-fit: cover;
  width: 100vw;
  height: 120vw;
}

@media screen and (min-width: 426px) {
  .hero-section__heading {
    max-width: 90%;
    letter-spacing: -3px;
    line-height: 50px;
    font-size: 3rem;
  }
  .hero-section__paragraph {
    font-weight: 3rem;
  }
  .btn {
    font-size: 1.15rem;
    padding: 16px 32px;
  }
  .hero-section__svg img {
    padding-top: 6rem;
    padding-bottom: 6rem;
    width: 97vw;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .hero-section__heading {
    max-width: 45rem;
    line-height: 5rem;
    font-size: 4rem;
    font-weight: 800;
  }
  .hero-section__paragraph {
    max-width: var(--font-para-width);
    font-size: 1.2rem;
    line-height: 30px;
  }
  .hero-section__svg img {
    padding-top: 8rem;
    width: auto;
    height: auto;
  }
}
