:root {
  --hackrack_blue: #3779b6;
  --hackrack_black: #363636;
  --hackrack_white: #ffffff;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.navbar {
  background-color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  font-family: 'Inter', sans-serif;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.navbar__container {
  max-width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-body {
  max-width: 90%;
  margin: 50px auto;
}

.navbar__btn {
  display: flex;
  justify-content: space-between;
}

.navbar__btn,
.navbar__brand {
  position: relative;
  z-index: 2;
}

.navbar__btn li {
  padding: 0.5rem 1rem;
  margin: 0 1rem;
}

.navbar__btn li a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.navbar__btn--join {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.check__btn {
  border-radius: 0.4rem;
  float: right;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 720px) {
  .navbar__container,
  .container-body {
    max-width: 100%;
  }

  .navbar__btn li {
    text-align: left;
    display: block;
    font-size: 1rem;   
    border-bottom: 1px solid lightgray;
  }

  .check__btn {
    display: block;
    z-index: 2;
  }

  .navbar__btn {
    position: fixed;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    padding: 1rem 0 3rem 0;
    background: #fff;
    right: -100%;
    overflow: hidden;
  }

  .navbar__btn--join {
    display: none;
  }

  #check:checked ~ .navbar__btn {
    width: 50%;
    top: 50px;
    right: 0;
  }

}

.hamburger {
  padding: 0.5rem;
}

.hamburger .line{
  width: 25px;
  height: 3px;
  background-color: #000;
  display: block;
  margin: 0 auto 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}

#check:checked ~ .check__btn .hamburger{
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

#check:checked ~ .check__btn .hamburger .line:nth-child(2){
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

#check:checked ~ .check__btn .hamburger .line:nth-child(2){
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}


#check:checked ~ .check__btn .hamburger .line:nth-child(2){
  opacity: 0;
}

#check:checked ~ .check__btn .hamburger .line:nth-child(1),
#check:checked ~ .check__btn .hamburger .line:nth-child(3){
  -webkit-transform-origin: right;
  -moz-transform-origin: right;
  -ms-transform-origin: right;
  -o-transform-origin: right;
  transform-origin: right;
}

#check:checked ~ .check__btn .hamburger .line:nth-child(1){
  -webkit-transform: translateY(15px) rotate(45deg);
  -ms-transform: translateY(15px) rotate(45deg);
  -o-transform: translateY(15px) rotate(45deg);
  transform: translateY(15px) rotate(45deg);
}

#check:checked ~ .check__btn .hamburger .line:nth-child(3){
  -webkit-transform: translateY(-15px) rotate(-45deg);
  -ms-transform: translateY(-15px) rotate(-45deg);
  -o-transform: translateY(-15px) rotate(-45deg);
  transform: translateY(-15px) rotate(-45deg);
}
