
.blurred-content {
    filter: url(#blur-effect);
    margin: 0 auto;
    opacity: 0.6;
}

.nav-unlist .blurred-content{
    position: absolute;
    top: 0;
    z-index: -1;
}

@supports not (backdrop-filter: blur(12px)) {
   
    .blurred-content {
        position: absolute;
        top: 0;
        width:100%;
        margin: 50px auto;
        filter: url(#blur-effect);
        opacity: 0.6;
        z-index: -1;
    }
    .nav-unlist .blurred-content{
        position: absolute;
        top: -50px;
        width:100%;
        margin: 0 auto;
        filter: url(#blur-effect);
        opacity: 0.6;
        z-index: -1;
    }
}
    
@media (min-width:720px) {
    .nav-unlist .blurred-content{
        display: none;
    }
}    